@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: perspective(100px) rotate(0deg);
            transform: perspective(100px) rotate(0deg);
  }
  9% {
    -webkit-transform: perspective(100px) rotate(90deg);
            transform: perspective(100px) rotate(90deg);
  }
  18% {
    -webkit-transform: perspective(100px) rotate(180deg);
            transform: perspective(100px) rotate(180deg);
  }
  28% {
    -webkit-transform: perspective(100px) rotate(270deg);
            transform: perspective(100px) rotate(270deg);
  }
  37% {
    -webkit-transform: perspective(100px) rotate(360deg);
            transform: perspective(100px) rotate(360deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotate(360deg);
            transform: perspective(100px) rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: perspective(100px) rotate(0deg);
            transform: perspective(100px) rotate(0deg);
  }
  9% {
    -webkit-transform: perspective(100px) rotate(90deg);
            transform: perspective(100px) rotate(90deg);
  }
  18% {
    -webkit-transform: perspective(100px) rotate(180deg);
            transform: perspective(100px) rotate(180deg);
  }
  28% {
    -webkit-transform: perspective(100px) rotate(270deg);
            transform: perspective(100px) rotate(270deg);
  }
  37% {
    -webkit-transform: perspective(100px) rotate(360deg);
            transform: perspective(100px) rotate(360deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotate(360deg);
            transform: perspective(100px) rotate(360deg);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #5f7285;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #5f7285;
}

a {
  text-decoration: none !important;
  color: #FFFFFF;
}

a:hover {
  color: #FFFFFF;
}

.title-text {
  font-weight: 700;
  font-size: 5rem;
  color: #FFFFFF;
}

.title-text--gradient {
  background: -webkit-gradient(linear, left top, right top, from(#CD9FFA), to(#7B61FF));
  background: linear-gradient(to right, #CD9FFA, #7B61FF);
  -webkit-background-clip: text;
  color: transparent;
}

.desc-text {
  font-size: 2rem;
  padding: .2rem .5rem;
  color: rgba(255, 255, 255, 0.9);
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.heading-primary {
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 3.5;
  color: #090d36;
  text-transform: uppercase;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.75;
  color: #5f7285;
}

@media only screen and (max-width: 575px) {
  /*Mobile Phones*/
  .heading-primary--main {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 3.5;
  }
  .heading-primary--sub {
    font-size: 1.7rem;
  }
}

.features-number {
  font-weight: 400;
  font-size: 4.5rem;
  color: #7B61FF;
  margin-bottom: 2.5rem;
}

.features-title {
  font-weight: 600;
  font-size: 2rem;
  color: #090d36;
}

.features-text {
  font-size: 1.6rem;
}

#contact .section-title h2 {
  font-size: 5rem;
  color: #090d36;
}

#contact .section-details {
  font-size: 1.6rem;
}

#contact .section-details i {
  font-size: 2.5rem;
  color: #CD9FFA;
}

.section-contact .form-control {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.login-form .section-title {
  color: #090d36;
}

.login-form .section-title h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

.section-product-details .product-title {
  color: #090d36;
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 2.5rem;
}

.u-margin-top-large {
  margin-top: 15rem;
}

.u-section-padding {
  padding: 10rem 0;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn--login {
  width: 80%;
  background: -webkit-gradient(linear, left top, right top, from(#7B61FF), to(#CD9FFA));
  background: linear-gradient(to right, #7B61FF, #CD9FFA);
  margin-left: 10%;
  margin-top: 5%;
  color: #FFFFFF;
}

.btn--login:hover {
  color: #FFFFFF;
}

.btn--google {
  width: 80%;
  background-color: #FFFFFF;
  border: 1px solid rgba(95, 114, 133, 0.4);
  margin-left: 10%;
  margin-top: 5%;
  color: #5f7285;
}

.btn--google:hover {
  color: #090d36;
}

.btn-txt:link, .btn-txt:visited {
  color: #090d36;
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  border-bottom: 1px solid #090d36;
  padding: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-txt:hover {
  background-color: #A17DFD;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  -webkit-box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-txt:active {
  -webkit-box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.google-icon {
  height: 1.8rem;
}

.btn-position {
  position: absolute;
  right: -7rem;
  top: 1rem;
}

.btn-position--reg {
  position: absolute;
  right: 7rem;
  top: 1rem;
}

.wishlist-btn {
  color: #090d36;
  background-color: #FFFFFF;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.wishlist-btn:hover {
  background-color: #090d36;
  color: #FFFFFF;
}

.cart-btn {
  font-weight: 600;
  color: #090d36;
  border: 1px solid #090d36;
  display: none;
}

.delivery-btn {
  display: none;
}

.delivery-btn img {
  height: 4rem;
}

.btn-search, .btn-search:link, .btn-search:visited {
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.section-products .card {
  -webkit-transition: all .8s ease-out;
  transition: all .8s ease-out;
  border: none;
  background-color: transparent;
  border-radius: 1rem;
}

.section-products .card-img-top {
  height: 20rem;
  border-radius: 1rem;
  position: relative;
}

.section-products .card-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #090d36;
  text-align: left;
}

.section-products .card-text {
  font-size: 1.6rem;
  text-align: left;
}

.section-products .card-rating img {
  height: 1.6rem;
  padding: 0 0 10px 0;
}

.section-products .card-price {
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  text-align: left;
}

.section-products .card-price s {
  font-size: 1.4rem;
  color: #CF113F;
}

.section-products .card:hover {
  -webkit-transform: translateY(-1rem) scale(1.03);
          transform: translateY(-1rem) scale(1.03);
  -webkit-box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.15);
}

.section-products .card:hover .cart-btn {
  font-weight: 600;
  color: #090d36;
  border: 1px solid #090d36;
  display: block;
  position: absolute;
  top: 20%;
  left: 33%;
  background-color: #F7F8FB;
}

.section-products .card:hover .delivery-btn {
  display: block;
  position: absolute;
  bottom: 55%;
  left: 37%;
  background-color: #F7F8FB;
}

.section-products .swiper-slide {
  text-align: left !important;
}

@media only screen and (max-width: 575px) {
  /*Mobile Phones*/
  .section-products .card:hover .cart-btn {
    left: 40%;
  }
}

.carousel-item {
  height: 90vh;
  min-height: 35rem;
  margin-top: 15rem;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-caption {
  bottom: 30% !important;
  right: 0 !important;
  top: 35%;
  text-align: left !important;
  font-size: 2.5rem;
}

.mdi-36px {
  font-size: 3.9rem;
  margin-right: 1rem;
}

.carousel .btn {
  font-weight: 500;
  line-height: 1.5rem;
  color: #FFFFFF;
  background-color: #7B61FF;
  border-radius: 4px;
  width: 30%;
  -webkit-animation: moveInBottom 1s ease-out;
          animation: moveInBottom 1s ease-out;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  margin-top: 9rem;
}

@media only screen and (max-width: 575px) {
  /*Mobile Phones*/
  .carousel-item {
    height: 100vh;
    margin-top: 8rem;
  }
  .carousel-caption {
    width: 85%;
    left: 9%;
    top: 22%;
    font-size: 1rem;
  }
  .carousel .btn {
    width: 56%;
    margin: 6px;
  }
  .title-text {
    font-weight: 700;
    font-size: 4rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  /*Tablets*/
  .carousel-caption {
    width: 78%;
  }
  .carousel-item {
    margin-top: 10rem;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-pagination-bullet {
  display: none !important;
}

.swiper-button-prev {
  left: 1.2rem;
  color: #7B61FF;
}

.swiper-button-next {
  right: 3px;
  color: #7B61FF;
}

.navbar {
  font-size: 1.8rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 1rem 5rem;
}

.nav-link {
  color: #090d36 !important;
  font-weight: 700;
  padding: 0 2.2rem !important;
  position: relative;
}

.nav-icon {
  color: #090d36;
}

.navbar-nav .input-group {
  border: 1px solid #5f7285;
  border-radius: 5px;
}

.navbar-nav .form-control {
  border: transparent;
  margin: auto;
  font-size: 1.3rem;
  color: #5f7285;
  background-color: transparent;
}

.navbar-nav .form-control:active, .navbar-nav .form-control:focus {
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #090d36;
}

nav .navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12%;
  height: 2px;
  width: 75%;
  background: #090d36 !important;
}

nav .navbar-nav .nav-link:hover {
  color: #090d36 !important;
}

nav .navbar-nav .nav-icon:hover {
  color: #090d36 !important;
}

button:focus {
  outline: 1px dotted;
  outline: none !important;
}

/* Change navbar styling on scroll */
.navbar.scroll {
  background: rgba(250, 250, 250, 0.88);
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.scroll .nav-link {
  color: #090d36 !important;
}

.navbar.scroll .nav-icon {
  color: #090d36 !important;
}

.navbar.scroll .nav-link:hover,
.navbar.scroll .nav-link:focus {
  color: #090d36 !important;
  text-decoration: none;
}

#nav--1 .navbar.scroll .nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12%;
  height: 2px;
  width: 75%;
  background: #090d36 !important;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: rgba(250, 250, 250, 0.88);
  }
  .navbar .navbar-brand, .navbar .nav-link {
    color: #090d36;
  }
}

.bg-default {
  background-color: #FFFFFF;
}

.fa-bars {
  color: #090d36;
  font-size: 3rem;
}

.logo {
  height: 8rem;
}

@media only screen and (max-width: 575px) {
  /*Mobile Phones*/
  .logo {
    height: 6.5rem;
  }
  .nav-link {
    color: #090d36 !important;
    padding: 2rem !important;
  }
  nav .navbar-nav .nav-link:hover {
    color: #090d36 !important;
  }
  nav .navbar-nav .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 43%;
    height: 2px;
    width: 15%;
    background: #090d36 !important;
  }
  .navbar-nav {
    text-align: center;
    margin-bottom: 2rem;
  }
  .navbar.scroll .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 43%;
    height: 2px;
    width: 15%;
    background: #090d36 !important;
  }
  .navbar-toggler {
    z-index: 10;
    cursor: pointer;
  }
  .navbar-collapse.show {
    top: 0%;
  }
  .navbar-collapse {
    position: fixed;
    top: -150%;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background: #FFFFFF;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-top: 30%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  /*Tablets*/
  .nav-link {
    color: #090d36 !important;
    padding-bottom: 3.5rem !important;
  }
  nav .navbar-nav .nav-link:hover {
    color: #090d36 !important;
  }
  nav .navbar-nav .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 2px;
    width: 10%;
    background: #090d36 !important;
  }
  .navbar-nav {
    text-align: center;
    margin-bottom: 2rem;
  }
  .navbar.scroll .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 2px;
    width: 10%;
    background: #090d36 !important;
  }
  .navbar-toggler {
    z-index: 10;
    cursor: pointer;
  }
  .navbar-collapse.show {
    top: 0%;
  }
  .navbar-collapse {
    position: fixed;
    top: -150%;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background: #FFFFFF;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-top: 20%;
  }
}

#nav--2 {
  margin-top: 105px;
  border-top: 1px solid #5f7285;
}

#nav--2 .navbar-nav {
  margin: 0 auto;
}

#nav--2 .nav-link {
  font-size: 1.6rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#nav--2 .nav-link:hover {
  background-color: rgba(205, 159, 250, 0.15);
  border-radius: 30px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#nav--2 .navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12%;
  height: 0px;
  width: 75%;
  background: #090d36 !important;
}

@media only screen and (max-width: 575px) {
  /*Mobile Phones*/
  #nav--2 {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  /*Tablets*/
  #nav--2 {
    display: none;
  }
}

.section-products {
  background-color: #F7F8FB;
}

.contact-info .fa {
  padding-right: 5px;
}

#contact .form-control {
  border: none;
  border-bottom: 2px solid #F7F8FB;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: #999999;
}

#contact input {
  height: 5.5rem;
}

#contact button#submit {
  background: #090d36;
  border: none;
  border-radius: 5rem;
  color: #FFFFFF;
  height: 4rem;
  margin-top: 2.4rem;
  width: 14rem;
}

#contact button#submit:hover {
  background: #7B61FF;
  color: #FFFFFF;
}

.footer {
  font-size: 1.6rem;
  background-color: #090d36 !important;
  color: #FFFFFF;
  padding-bottom: 3%;
  padding-top: 2%;
}

.footer ul {
  list-style-type: none;
  padding-left: 0px;
}

.footer .bottom-line ul li {
  display: inline;
  padding: 15px;
}

.footer .line {
  background-color: white !important;
  width: 100%;
}

.footer .social-media a {
  padding: 7px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.footer__logo {
  height: 12rem;
}

.sidenav {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/contact-comp.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/contact-comp.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  padding-top: 20px;
}

.login-logo--animation {
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.main {
  padding: 0px 10px;
  position: relative;
}

.main .bottom-line {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 10px;
}

.login-form .form-group {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.login-form .form-control {
  border-radius: 3rem;
}

.login-form .form-control:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(123, 97, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(123, 97, 255, 0.25);
}

.login-form input {
  height: 4rem;
  font-size: 1.6rem;
}

.login-form label {
  font-size: 1.6rem;
}

.login-logo {
  height: 24rem;
}

.login-main-text {
  padding: 6rem;
  color: #FFFFFF;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 14%;
    margin-bottom: 5%;
  }
  .register-form {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: 46%;
  }
  .sidenav {
    width: 48%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .login-form {
    margin-top: 45%;
    font-size: 1.6rem;
  }
}

#signup {
  margin-top: 25%;
}

@media only screen and (max-width: 575px) {
  /*Mobile Phones*/
  .main {
    position: relative;
  }
  .main .bottom-line {
    margin-top: 10%;
  }
  .btn-position {
    position: absolute;
    right: 2rem !important;
    top: 1rem !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  /*Tablets*/
  .main .bottom-line {
    margin-top: 25%;
  }
}

.section-product-image img {
  height: 60rem;
  width: 100%;
  border-radius: 3rem;
}
/*# sourceMappingURL=style.css.map */