// COLORS
$color-primary: #A17DFD;
$color-primary-light: #CD9FFA;
$color-primary-dark: #7B61FF;

$color-grey-dark: #5f7285;
$color-grey-light: #F7F8FB;

$color-white: #FFFFFF;
$color-black: #000000;

$color-red: #CF113F;

$color-text: #090d36;



// FONT
$default-font-size: 1.6rem;