// COLORS
$color-primary: #A17DFD;
$color-primary-light: #CD9FFA;
$color-primary-dark: #7B61FF;


$color-grey: #dfdfe1;
$color-grey-dark: #5f7285;
$color-grey-light: #F7F8FB;


$color-green: #55c57a;
$color-green-dark: #247139;
$color-white: #FFFFFF;
$color-black: #000000;

$color-red: #CF113F;
$color-red-dark: #F34541;

$color-pink: #f83365;

$color-text: #090d36;



// FONT
$default-font-size: 1.6rem;