.navbar {
  font-size: 1.8rem;
  transition: all 0.4s;
  padding: 1rem 5rem;
}

.nav-link {
  color: $color-text !important;
  font-weight: 700;
  padding: 0 2.2rem !important;
  position: relative;
}

.nav-icon {
  color: $color-text;
}

.navbar-nav {
  .input-group {
    border: 1px solid $color-grey-dark;
    border-radius: 5px;
  }

  .form-control {
    border: transparent;
    margin: auto;
    font-size: 1.3rem;
    color: $color-grey-dark;
    background-color:transparent;

    &:active,
    &:focus {
      border-color: transparent !important;
      box-shadow: none !important;
      color: $color-text;
    }
  }
} 

nav .navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12%;
  height: 2px;
	width: 75%;
  background: $color-text !important;
}

nav .navbar-nav .nav-link:hover{
	color: $color-text !important;
}

nav .navbar-nav .nav-icon:hover{
	color: $color-text !important;
}

button:focus {
  outline: 1px dotted;
  outline: none !important;
}

/* Change navbar styling on scroll */
.navbar.scroll {
  background: rgba(250,250,250,0.88);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.scroll .nav-link {
  color: $color-text !important;
}

.navbar.scroll .nav-icon{
  color: $color-text !important;
}

.navbar.scroll .nav-link:hover,
.navbar.scroll .nav-link:focus {
  color: $color-text !important;
  text-decoration: none;
}

#nav--1 .navbar.scroll .nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12%;
  height: 2px;
	width: 75%;
  background: $color-text !important;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
      background: rgba(250,250,250,0.88);
  }

  .navbar .navbar-brand, .navbar .nav-link {
      color: $color-text;
  }
}

// .fixed-top {
//   position: fixed !important;
//   z-index: 10 !important;
// }

.bg-default {
  background-color: $color-white;
}

.fa-bars {
  color: $color-text;
  font-size: 3rem;
}

.logo {
  height: 8rem;
}


@media only screen and (max-width: 575px){
  /*Mobile Phones*/
  .logo {
    height: 6.5rem;
  }
  
  .nav-link {
    color: $color-text !important;
    padding: 2rem !important;
  }

  nav .navbar-nav .nav-link:hover {
    color: $color-text !important;
  }
  
  nav .navbar-nav .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 43%;
    height: 2px;
    width: 15%;
    background: $color-text !important;
  }

  .navbar-nav {
    text-align: center;
    margin-bottom: 2rem;
  }

  .navbar.scroll .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 43%;
    height: 2px;
    width: 15%;
    background: $color-text !important;
  }

  .navbar-toggler {
    z-index: 10;
    cursor: pointer;
  }

  .navbar-collapse.show {
    top: 0%;
  }

  .navbar-collapse {
    position: fixed;
    top: -150%;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background:  $color-white;
    transition: all 0.3s ease-in-out;
    padding-top: 30%;
}
}

@media only screen and (min-width: 576px) and (max-width: 991px){
  /*Tablets*/

  .nav-link {
    color: $color-text !important;
    padding-bottom: 3.5rem !important;
  }

  nav .navbar-nav .nav-link:hover {
    color: $color-text !important;
  }

  nav .navbar-nav .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 2px;
    width: 10%;
    background: $color-text !important;
  }

  .navbar-nav {
    text-align: center;
    margin-bottom: 2rem;
  }

  .navbar.scroll .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 2px;
    width: 10%;
    background: $color-text !important;
  }

  .navbar-toggler {
    z-index: 10;
    cursor: pointer;
  }

  .navbar-collapse.show {
    top: 0%;
  }

  .navbar-collapse {
    position: fixed;
    top: -150%;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background:  $color-white;
    transition: all 0.3s ease-in-out;
    padding-top: 20%;
}

}

// Second navbar
#nav--2 {
  margin-top: 105px;
  border-top: 1px solid $color-grey;
  border-bottom: 1px solid $color-grey;
}

#nav--2 .navbar-nav {
  margin: 0 auto;
}

#nav--2 .nav-link {
  font-size: $default-font-size;
  transition: all .2s ease-in-out;
}

#nav--2 .nav-link:hover {
  background-color: rgba($color-primary-light, .15);
  border-radius: 30px;

  transform: scale(1.05);
}

#nav--2 .navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12%;
  height: 0px;
	width: 75%;
  background: $color-text !important;
}

@media only screen and (max-width: 575px){
  /*Mobile Phones*/
  #nav--2 {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px){
  /*Tablets*/
  #nav--2 {
    display: none;
  }
}

