.btn {
  &,
    &:link,
    &:visited {
        text-decoration: none;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black,.4);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
  }
  
  }

  &:active,
  &:focus {
      outline: none;
      transform: translateY(0);
      box-shadow: none;
  }

  &--login {
    width: 80%;
    background: linear-gradient(to right, $color-primary-dark, $color-primary-light);
    margin-left: 10%;
    margin-top: 5%;
    color: $color-white;

    &:hover {
      color: $color-white;
    }
  }

  &--google {
    width: 80%;
    background-color: $color-white;
    border: 1px solid rgba($color-grey-dark, .4) ;
    margin-left: 10%;
    margin-top: 5%;
    color: $color-grey-dark;
    
    &:hover {
      color: $color-text;
    }
  }
}

.btn-txt {
  &:link,
  &:visited {
    color: $color-text;
    display: inline-block;
    font-weight: 600;
    font-size: $default-font-size;
    border-bottom: 1px solid $color-text;
    padding: 3px;
    transition: all .2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    border-bottom: 1px solid $color-white;
    box-shadow: 0 3rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 3rem 2rem rgba($color-black, .15);
    transform: translateY(0);
  }
}

.google-icon {
  height: 1.8rem;
}

.btn-position {
  position: absolute;
  right: -7rem;
  top: 1rem;
}

.btn-position--reg {
  position: absolute;
  right: 7rem;
  top: 1rem;
}

.wishlist-btn {
  color: $color-text;
  background-color: $color-white;
  position: absolute;
  top: 1rem;
  right: 1rem;

  &:hover {
    background-color: $color-text;
    color: $color-white;
  }
}

.cart-btn {
  font-weight: 600;
  color: $color-text;
  border: 1px solid $color-text;
  display: none;
}

.delivery-btn {
  display: none;

  img{
    height: 4rem;
  }
}

.btn-search {
  &,
  &:link,
  &:visited {
      text-decoration: none;
      display: inline-block;
      background-color: transparent;
      font-size: $default-font-size;

      //Change for the <button> element
      border: none;
      cursor: pointer;
  }
}