.btn {
  &,
    &:link,
    &:visited {
        text-decoration: none;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black,.4);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
  }
  
  }

  &:active,
  &:focus {
      outline: none;
      transform: translateY(0);
      box-shadow: none;
  }

  &-gradient {
    background: linear-gradient(to right, $color-primary-dark, $color-primary-light);
    color: $color-white;

    &--user-form {
      width: 80%;
      margin-left: 10%;
      margin-top: 5%;
    }

    &--dashboard {
      border-radius: 5px;
    }
    
    &:hover {
      color: $color-white;
    }
  }

  &--google {
    width: 80%;
    background-color: $color-white;
    border: 1px solid rgba($color-grey-dark, .4) ;
    margin-left: 10%;
    margin-top: 5%;
    color: $color-grey-dark;
    
    &:hover {
      color: $color-text;
    }
  }

  &-go-back {
    color: $color-text;
    display: inline-block;
    font-weight: 600;
    font-size: $default-font-size;
    border: 1px solid $color-text;
    border-radius: .25rem;
    padding: .5rem 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover {
      background-color: $color-text;
    }
  }

  &-size {
    border: 2px solid $color-grey !important;
    border-radius: 8px;
    padding: 2rem 8rem 1rem 1rem;

    &-logo img {
      width: 11rem;
      height: 5.3rem;
    }

    &:hover {
      transform: none;
      box-shadow: none;
      border: 2px solid $color-text !important;

  
      &::after {
        transform: none;
        opacity: 0;
    }
    
    }
  
    &:active,
    &:focus {
      border: 2px solid $color-primary-dark!important;
    }
  }

  &-solid {
    background-color: $color-primary-dark;
    color: $color-white;

    &--round {
      width: 60%;
    }

    &--square {
      border-radius: 5px;
    }

    &:hover {
      background-color: rgba($color-primary-dark, .85);
      color: $color-white;
    }
  }
  
}

// .btn-txt {
//   &:link,
//   &:visited {
//     color: $color-text;
//     display: inline-block;
//     font-weight: 600;
//     font-size: $default-font-size;
//     border-bottom: 1px solid $color-text;
//     padding: 3px;
//     transition: all .2s;
//   }

//   &:hover {
//     background-color: $color-primary;
//     color: $color-white;
//     border-bottom: 1px solid $color-white;
//     box-shadow: 0 3rem 2rem rgba($color-black, .15);
//     transform: translateY(-2px);
//   }

//   &:active {
//     box-shadow: 0 3rem 2rem rgba($color-black, .15);
//     transform: translateY(0);
//   }
// }

.google-icon {
  height: 1.8rem;
}

.btn-position {
  position: absolute;
  right: -7rem;
  top: 1rem;
}

.btn-position--reg {
  position: absolute;
  right: 7rem;
  top: 1rem;
}

.section-products .wishlist-btn {
  color: $color-text;
  background-color: $color-white;
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1.7rem;
  width: 1rem;
  padding: 2px 1rem 5px 5px;

  &:hover {
    background-color: $color-text;
    color: $color-white;
  }
}

.add-product .wishlist-btn {
  color: $color-text;
  font-size: 2rem;
  background-color: $color-white;
  position: inherit;
  height: 3rem;
  width: 3rem;
  padding: 1.8px 1rem 5px 5.5px;

  &:hover {
    background-color: $color-text;
    color: $color-white;
  }
}

.cart-btn {
  font-weight: 600;
  color: $color-text;
  border: 1px solid $color-text;
  display: none !important;
}

.btn-search {
  &,
  &:link,
  &:visited {
      text-decoration: none;
      display: inline-block;
      background-color: transparent;
      font-size: $default-font-size;

      //Change for the <button> element
      border: none;
      cursor: pointer;
  }
}

.btn-helpful {
  background-color: transparent;
  border: 1px solid $color-text;
  color: $color-text;
}

.btn-red {
  background-color: $color-red-dark !important;
}