.section-products .card {
  transition: all .8s ease-out;
  box-shadow: 0 1.5rem 1rem rgba($color-black, .15);

  &-img-top {
    height: 20rem;

    position: relative;
  }

  &-title {
    font-size: 2rem;
    font-weight: bold;
    color: $color-text;
  }

  &-text {
    font-size: $default-font-size;
  }

  &-rating img{
    height: 3rem;
    padding: 0 0 10px 0;
  }

  &-price {
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-black;

    s {
      font-size: $default-font-size;
      color: $color-red;
    }
  }

  &:hover {
    transform: translateY(-1rem) scale(1.03);

    .cart-btn {
      font-weight: 600;
      color: $color-text;
      border: 1px solid $color-text;
      display: block;
      position: absolute;
      top: 20%;
      left: 30%;
      background-color: $color-grey-light;
    }
  }
}

.wishlist-btn {
  color: $color-text;
  position: absolute;
  top: 1rem;
  right: 1rem;

  &:hover {
    background-color: $color-text;
    color: $color-white;
  }
}

.cart-btn {
  font-weight: 600;
  color: $color-text;
  border: 1px solid $color-text;
  display: none;
}

