.card {
  transition: all .5s ease;

  &-img-top {
    height: 20rem;
  }
  &-title {
    font-size: 2rem;
    font-weight: bold;
    color: $color-black;
  }
  &-text {
    font-size: 1.6rem;
    color: $color-black;
  }

  &-rating img{
    height: 3rem;
    padding: 0 0 10px 0;
  }

  &-price {
    font-size: 1.6rem;
    color: $color-black;

    s {
      color: $color-primary-dark;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}