.counter__wrapper-clean,.counter__wrapper-filled,.counter__wrapper-invertible,.counter__wrapper-roller{margin:20px 0}

.counter__wrapper-filled .counter-wrap{
  width:160px;
  height:160px;
  margin:0 auto;
  border-radius:50%;
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center;
  background:#f4f4f4;
  box-shadow:inset 0 0 10px 0 rgba(0,0,0,.05);
  position:relative;
  z-index:1}

.counter__wrapper-filled .counter-wrap:before {
  content:'';
  position:absolute;
  top:20px;
  left:20px;
  right:20px;
  bottom:20px;
  background:#fff;
  border-radius:50%;
  box-shadow:0 0 20px 0 rgba(0,0,0,.05);
  z-index:-1}

.counter__wrapper-filled .counter-wrap svg{
  width:186px;
  height:186px;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  overflow:visible;
  pointer-events:none}

.counter__wrapper-filled .counter-wrap .counter-tri {
  position:absolute;
  top:20px;
  left:20px;
  right:20px;
  bottom:20px;
  z-index:-2;
  -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
  -webkit-transition:all 4s ease;
  transition:all 4s ease
}

.counter__wrapper-filled .counter-wrap .counter-tri>.before {
  position:absolute;width:15px;
  top:-7px;
  left:50%;
  height:15px;
  background: $color-pink;
  // -webkit-transform: translate(-50%,0) rotate(45deg);
  transform: translate(-50%,0) rotate(45deg);
  z-index:-2;}

.counter__wrapper-filled .counter-wrap svg circle{
  stroke: $color-pink;
  stroke-width:6px;
  fill:none;
  stroke-dasharray:584;
  stroke-dashoffset:584;
  -webkit-transform:rotate(-90deg);
  transform:rotate(-90deg);
  -webkit-transform-origin:93px 93px;
  transform-origin:93px 93px;
  -webkit-transition:all 4s ease;
  transition:all 4s ease
}

  .counter__wrapper-filled .counter{
    font-family:'Montserrat',
    sans-serif;
    font-size:36px;
    line-height:1
  }

  .loader {
    -webkit-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .progress-circle {
    font-size: 20px;
    margin: 20px;
    padding: 0;
    width: 10em;
    height: 10em;
    background-color: transparent; 
    border-radius: 50%;
    line-height: 5em;
    left: -4rem;
    position: absolute;
 }
 
 .progress-circle:after{
     border: none;
     position: absolute;
     top: 0.35em;
     left: 0.35em;
     text-align: center;
     display: block;
     border-radius: 50%;
     width: 10em;
     height: 10em;
     background-color:transparent;
     content: " ";
 }

  .progress-circle span {
    position: absolute;
    line-height: 5em;
    width: 10em;
    text-align: center;
    display: block;
    color: #53777A;
    z-index: 2;
}

.left-half-clipper { 
  /* a round circle */
  border-radius: 50%;
  width: 10em;
  height: 10em;
  position: absolute; /* needed for clipping */
  clip: rect(0, 5em, 5em, 2.5em); /* clips the whole left half*/ 
}
/* when p>50, don't clip left half*/
.progress-circle.over50 .left-half-clipper {
  clip: rect(auto,auto,auto,auto);
}
.value-bar {
  /*This is an overlayed square, that is made round with the border radius,
  then it is cut to display only the left half, then rotated clockwise
  to escape the outer clipping path.*/ 
  position: absolute; /*needed for clipping*/
  clip: rect(0, 2.5em, 5em, 0);
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 0.45em solid #53777A; /*The border is 0.35 but making it larger removes visual artifacts */
  /*background-color: #4D642D;*/ /* for debug */
  box-sizing: border-box;
 
}
/* Progress bar filling the whole right half for values above 50% */
.progress-circle.over50 .first50-bar {
  /*Progress bar for the first 50%, filling the whole right half*/
  position: absolute; /*needed for clipping*/
  clip: rect(0, 5em, 5em, 2.5em);
  background-color: #53777A;
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.progress-circle:not(.over50) .first50-bar{ display: none; }

/* Progress bar rotation position */
.progress-circle.p0 .value-bar { display: none; }
.progress-circle.p1 .value-bar { transform: rotate(4deg); }
.progress-circle.p2 .value-bar { transform: rotate(7deg); }
.progress-circle.p3 .value-bar { transform: rotate(11deg); }
.progress-circle.p4 .value-bar { transform: rotate(14deg); }
.progress-circle.p5 .value-bar { transform: rotate(18deg); }
.progress-circle.p6 .value-bar { transform: rotate(22deg); }
.progress-circle.p7 .value-bar { transform: rotate(25deg); }
.progress-circle.p8 .value-bar { transform: rotate(29deg); }
.progress-circle.p9 .value-bar { transform: rotate(32deg); }
.progress-circle.p10 .value-bar { transform: rotate(36deg); }
.progress-circle.p11 .value-bar { transform: rotate(40deg); }
.progress-circle.p12 .value-bar { transform: rotate(43deg); }
.progress-circle.p13 .value-bar { transform: rotate(47deg); }
.progress-circle.p14 .value-bar { transform: rotate(50deg); }
.progress-circle.p15 .value-bar { transform: rotate(54deg); }
.progress-circle.p16 .value-bar { transform: rotate(58deg); }
.progress-circle.p17 .value-bar { transform: rotate(61deg); }
.progress-circle.p18 .value-bar { transform: rotate(65deg); }
.progress-circle.p19 .value-bar { transform: rotate(68deg); }
.progress-circle.p20 .value-bar { transform: rotate(72deg); }
.progress-circle.p21 .value-bar { transform: rotate(76deg); }
.progress-circle.p22 .value-bar { transform: rotate(79deg); }
.progress-circle.p23 .value-bar { transform: rotate(83deg); }
.progress-circle.p24 .value-bar { transform: rotate(86deg); }
.progress-circle.p25 .value-bar { transform: rotate(90deg); }
.progress-circle.p26 .value-bar { transform: rotate(94deg); }
.progress-circle.p27 .value-bar { transform: rotate(97deg); }
.progress-circle.p28 .value-bar { transform: rotate(101deg); }
.progress-circle.p29 .value-bar { transform: rotate(104deg); }
.progress-circle.p30 .value-bar { transform: rotate(108deg); }
.progress-circle.p31 .value-bar { transform: rotate(112deg); }
.progress-circle.p32 .value-bar { transform: rotate(115deg); }
.progress-circle.p33 .value-bar { transform: rotate(119deg); }
.progress-circle.p34 .value-bar { transform: rotate(122deg); }
.progress-circle.p35 .value-bar { transform: rotate(126deg); }
.progress-circle.p36 .value-bar { transform: rotate(130deg); }
.progress-circle.p37 .value-bar { transform: rotate(133deg); }
.progress-circle.p38 .value-bar { transform: rotate(137deg); }
.progress-circle.p39 .value-bar { transform: rotate(140deg); }
.progress-circle.p40 .value-bar { transform: rotate(144deg); }
.progress-circle.p41 .value-bar { transform: rotate(148deg); }
.progress-circle.p42 .value-bar { transform: rotate(151deg); }
.progress-circle.p43 .value-bar { transform: rotate(155deg); }
.progress-circle.p44 .value-bar { transform: rotate(158deg); }
.progress-circle.p45 .value-bar { transform: rotate(162deg); }
.progress-circle.p46 .value-bar { transform: rotate(166deg); }
.progress-circle.p47 .value-bar { transform: rotate(169deg); }
.progress-circle.p48 .value-bar { transform: rotate(173deg); }
.progress-circle.p49 .value-bar { transform: rotate(176deg); }
.progress-circle.p50 .value-bar { transform: rotate(180deg); }
.progress-circle.p51 .value-bar { transform: rotate(184deg); }
.progress-circle.p52 .value-bar { transform: rotate(187deg); }
.progress-circle.p53 .value-bar { transform: rotate(191deg); }
.progress-circle.p54 .value-bar { transform: rotate(194deg); }
.progress-circle.p55 .value-bar { transform: rotate(198deg); }
.progress-circle.p56 .value-bar { transform: rotate(202deg); }
.progress-circle.p57 .value-bar { transform: rotate(205deg); }
.progress-circle.p58 .value-bar { transform: rotate(209deg); }
.progress-circle.p59 .value-bar { transform: rotate(212deg); }
.progress-circle.p60 .value-bar { transform: rotate(216deg); }
.progress-circle.p61 .value-bar { transform: rotate(220deg); }
.progress-circle.p62 .value-bar { transform: rotate(223deg); }
.progress-circle.p63 .value-bar { transform: rotate(227deg); }
.progress-circle.p64 .value-bar { transform: rotate(230deg); }
.progress-circle.p65 .value-bar { transform: rotate(234deg); }
.progress-circle.p66 .value-bar { transform: rotate(238deg); }
.progress-circle.p67 .value-bar { transform: rotate(241deg); }
.progress-circle.p68 .value-bar { transform: rotate(245deg); }
.progress-circle.p69 .value-bar { transform: rotate(248deg); }
.progress-circle.p70 .value-bar { transform: rotate(252deg); }
.progress-circle.p71 .value-bar { transform: rotate(256deg); }
.progress-circle.p72 .value-bar { transform: rotate(259deg); }
.progress-circle.p73 .value-bar { transform: rotate(263deg); }
.progress-circle.p74 .value-bar { transform: rotate(266deg); }
.progress-circle.p75 .value-bar { transform: rotate(270deg); }
.progress-circle.p76 .value-bar { transform: rotate(274deg); }
.progress-circle.p77 .value-bar { transform: rotate(277deg); }
.progress-circle.p78 .value-bar { transform: rotate(281deg); }
.progress-circle.p79 .value-bar { transform: rotate(284deg); }
.progress-circle.p80 .value-bar { transform: rotate(288deg); }
.progress-circle.p81 .value-bar { transform: rotate(292deg); }
.progress-circle.p82 .value-bar { transform: rotate(295deg); }
.progress-circle.p83 .value-bar { transform: rotate(299deg); }
.progress-circle.p84 .value-bar { transform: rotate(302deg); }
.progress-circle.p85 .value-bar { transform: rotate(306deg); }
.progress-circle.p86 .value-bar { transform: rotate(310deg); }
.progress-circle.p87 .value-bar { transform: rotate(313deg); }
.progress-circle.p88 .value-bar { transform: rotate(317deg); }
.progress-circle.p89 .value-bar { transform: rotate(320deg); }
.progress-circle.p90 .value-bar { transform: rotate(324deg); }
.progress-circle.p91 .value-bar { transform: rotate(328deg); }
.progress-circle.p92 .value-bar { transform: rotate(331deg); }
.progress-circle.p93 .value-bar { transform: rotate(335deg); }
.progress-circle.p94 .value-bar { transform: rotate(338deg); }
.progress-circle.p95 .value-bar { transform: rotate(342deg); }
.progress-circle.p96 .value-bar { transform: rotate(346deg); }
.progress-circle.p97 .value-bar { transform: rotate(349deg); }
.progress-circle.p98 .value-bar { transform: rotate(353deg); }
.progress-circle.p99 .value-bar { transform: rotate(356deg); }
.progress-circle.p100 .value-bar { transform: rotate(360deg); }







// .counter__wrapper-invertible .counter-wrap{width:230px;height:230px;margin:0 auto;border-radius:50%;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;align-items:center;background:linear-gradient(50deg,var(--brk-base-3),var(--secondary));overflow:hidden;position:relative}
// .counter__wrapper-invertible .counter-wrap:after,.counter__wrapper-invertible .counter-wrap:before{content:'';position:absolute;top:50%;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);left:-7px;width:14px;height:14px;background:#fff;border-radius:50%;z-index:2}
// .counter__wrapper-invertible .counter-wrap:after{left:auto;right:-7px}
// .counter__wrapper-invertible .counter-wrap>.before{position:absolute;bottom:-webkit-calc(50% - 1px);bottom:calc(50% - 1px);left:0;right:0;height:50%;background:-webkit-gradient(linear,left bottom,left top,from(rgba(255,255,255,.3)),to(transparent));background:linear-gradient(0deg,rgba(255,255,255,.3),transparent);border-bottom:2px solid var(--brk-secondary-2)}
// .counter__wrapper-invertible .counter{font-family:'Montserrat',sans-serif;font-size:74px;color:#fff;line-height:1}
// .counter__wrapper-clean .counter-wrap{width:230px;height:230px;margin:0 auto;border-radius:50%;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;align-items:center;position:relative}
// .counter__wrapper-clean .counter,.counter__wrapper-roller .counter{font-family:'Montserrat',sans-serif;color:var(--brand-primary);line-height:1}
// .counter__wrapper-clean .counter{font-weight:500;font-size:56px}
// .counter__wrapper-clean svg{width:230px;height:230px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%) rotate(-40deg);transform:translate(-50%,-50%) rotate(-40deg);overflow:visible;pointer-events:none}
// .counter__wrapper-roller .counter{font-size:72px;letter-spacing:.2em}
// .counter__wrapper-roller .odometer-formatting-mark{display:none}
// .counter__wrapper-icon{text-align:left;max-width:330px;margin:20px auto;position:relative;z-index:1;color:var(--brk-secondary-1)}
// .counter__wrapper-icon .livicon-evo{display:inline-block;position:absolute;width:60px;text-align:center}
// .counter__wrapper-icon .icon{position:absolute;top:5px;left:0;font-size:64px;line-height:64px}
// .counter__wrapper-icon .cont{padding-left:95px}.counter__wrapper-icon p{line-height:19px}
// .counter__wrapper-icon .counter{font-family:'Montserrat',sans-serif;font-size:72px;font-weight:600;line-height:1;color:var(--brk-secondary-1)}
// .counter__wrapper-airport{margin:20px auto}@media (min-width:1200px){.counter__wrapper-airport{text-align:left;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end}}.counter__wrapper-airport p{margin-top:20px}
// @media (min-width:1200px){.counter__wrapper-airport p{margin-top:0;margin-left:50px}[dir=rtl] .counter__wrapper-airport p{margin-left:0;margin-right:50px}}.counter__wrapper-airport .counter{display:inline-block;font-family:'Montserrat',sans-serif;font-size:72px;font-weight:300;line-height:1;color:#fff;background:linear-gradient(80deg,var(--brand-primary),var(--brk-base-5));box-shadow:0 6px 30px 0 rgba(34,103,226,.6);position:relative;z-index:1;word-wrap:normal;white-space:nowrap}[dir=rtl] .counter__wrapper-airport .counter{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-webkit-flex-direction:row-reverse;flex-direction:row-reverse}.counter__wrapper-airport .counter span{display:inline-block;width:78px;text-align:center;padding:20px 0;border-left:2px solid #fff}.counter__wrapper-airport .counter span:first-child{border-left:none}.counter__wrapper-airport .counter:before{content:'';position:absolute;bottom:-webkit-calc(50% - 4px);bottom:calc(50% - 4px);left:0;right:0;height:50%;background:-webkit-gradient(linear,left bottom,left top,from(rgba(255,255,255,.3)),to(transparent));background:linear-gradient(0deg,rgba(255,255,255,.3),transparent);border-bottom:2px solid rgba(0,0,0,.1)}.counter__wrapper-airport.brk-color .counter{background:linear-gradient(80deg,var(--brk-base-3),var(--secondary));box-shadow:0 6px 30px 0 rgba(var(--brk-base-3-rgb),.6)}.counter__wrapper-gradient{margin:20px 0}.counter__wrapper-gradient .counter-wrap{width:230px;height:230px;margin:0 auto;border:8px solid #fff;border-radius:50%;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;align-items:center;position:relative}.counter__wrapper-gradient .counter{font-family:'Montserrat',sans-serif;font-size:74px;font-weight:500;color:#fff;line-height:1}.counter__wrapper-gradient.brk-color .counter-wrap{background:-webkit-gradient(linear,left top,left bottom,from(var(--brk-base-3)),to(var(--brk-secondary-3)));background:linear-gradient(180deg,var(--brk-base-3),var(--brk-secondary-3));box-shadow:0 6px 30px 0 rgba(var(--brk-base-3-rgb),.6)}.odometer.odometer-auto-theme,.odometer.odometer-auto-theme .odometer-digit,.odometer.odometer-theme-default,.odometer.odometer-theme-default .odometer-digit{display:inline-block;vertical-align:middle;position:relative}.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,.odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer{display:inline-block;vertical-align:middle;visibility:hidden}.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner{text-align:left;display:block;position:absolute;top:0;left:0;right:0;overflow:hidden;height:110px}.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,.odometer.odometer-theme-default .odometer-digit .odometer-ribbon{display:block}.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,.odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner{display:block;-webkit-backface-visibility:hidden}.odometer.odometer-auto-theme .odometer-digit .odometer-value,.odometer.odometer-theme-default .odometer-digit .odometer-value{display:block;-webkit-transform:translateZ(0);padding:20px 0}.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,.odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value{position:absolute}.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,.odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner{-webkit-transition:-webkit-transform 2s;transition:transform 2s;transition:transform 2s,-webkit-transform 2s}.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner,.odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner,.odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner{-webkit-transform:translateY(-100%);transform:translateY(-100%)}.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,.odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner{-webkit-transition:-webkit-transform 2s;transition:transform 2s;transition:transform 2s,-webkit-transform 2s;-webkit-transform:translateY(0);transform:translateY(0)}.counter__wrapper-airport.blue .counter{background:linear-gradient(80deg,var(--brk-base-3),var(--secondary));box-shadow:0 6px 30px 0 rgba(var(--brk-base-3-rgb),.6)}.counter__wrapper-airport.pink .counter{background:linear-gradient(80deg,#c423ee,#ee23ec);box-shadow:0 6px 30px 0 rgba(196,35,238,.6)}.counter__wrapper-airport.purple .counter{background:linear-gradient(80deg,var(--brk-secondary-3),var(--secondary));box-shadow:0 6px 30px 0 rgba(var(--secondary-rgb),.6)}.counter__wrapper-airport.aqua .counter{background:linear-gradient(80deg,var(--brand-primary),var(--brk-base-5));box-shadow:0 6px 30px 0 rgba(var(--brand-primary-rgb),.6)}.counter__wrapper-airport.gray .counter{background:linear-gradient(80deg,#7a7a7a,#bababa);box-shadow:0 6px 30px 0 rgba(122,122,122,.6)}.counter__wrapper-airport.brown .counter{background:linear-gradient(80deg,#ab752b,#d5aa6f);box-shadow:0 6px 30px 0 rgba(171,117,43,.6)}.counter__wrapper-airport.black .counter{background:linear-gradient(80deg,#000,#383838);box-shadow:0 6px 30px 0 rgba(0,0,0,.6)}.counter__wrapper-gradient.blue .counter-wrap{background:-webkit-gradient(linear,left top,left bottom,from(var(--brand-primary)),to(var(--brk-secondary-3)));background:linear-gradient(180deg,var(--brand-primary),var(--brk-secondary-3));box-shadow:0 6px 30px 0 rgba(19,87,223,.6)}.counter__wrapper-gradient.pink .counter-wrap{background:-webkit-gradient(linear,left top,left bottom,from(#c423ee),to(#ee23ec));background:linear-gradient(180deg,#c423ee,#ee23ec);box-shadow:0 6px 30px 0 rgba(var(--brk-secondary-6-rgb),.6)}.counter__wrapper-gradient.purple .counter-wrap{background:-webkit-gradient(linear,left top,left bottom,from(var(--secondary)),to(var(--brk-secondary-3)));background:linear-gradient(180deg,var(--secondary),var(--brk-secondary-3));box-shadow:0 6px 30px 0 rgba(var(--secondary-rgb),.6)}.counter__wrapper-gradient.aqua .counter-wrap{background:-webkit-gradient(linear,left top,left bottom,from(var(--brk-base-2)),to(var(--brk-base-5)));background:linear-gradient(180deg,var(--brk-base-2),var(--brk-base-5));box-shadow:0 6px 30px 0 rgba(var(--brk-base-2-rgb),.6)}.counter__wrapper-gradient.gray .counter-wrap{background:-webkit-gradient(linear,left top,right top,from(#b3b3b3),to(#f0f0f0));background:linear-gradient(90deg,#b3b3b3,#f0f0f0);box-shadow:0 6px 30px 0 rgba(190,190,190,.6)}.counter__wrapper-gradient.brown .counter-wrap{background:-webkit-gradient(linear,left top,right top,from(#ab752b),to(#d5aa6f));background:linear-gradient(90deg,#ab752b,#d5aa6f);box-shadow:0 6px 30px 0 rgba(171,117,43,.6)}.counter__wrapper-gradient.black .counter-wrap{background:-webkit-gradient(linear,left top,right top,from(#000),to(#383838));background:linear-gradient(90deg,#000,#383838);box-shadow:0 6px 30px 0 rgba(0,0,0,.6)}.counter__wrapper-icon.blue .counter,.counter__wrapper-icon.blue .icon{color:var(--brk-secondary-1)}.counter__wrapper-icon.pink .counter,.counter__wrapper-icon.pink .icon{color:var(--brk-secondary-6)}.counter__wrapper-icon.purple .counter,.counter__wrapper-icon.purple .icon{color:var(--brk-secondary-3)}.counter__wrapper-icon.aqua .counter,.counter__wrapper-icon.aqua .icon{color:var(--brk-base-2)}.counter__wrapper-icon.cyan .counter,.counter__wrapper-icon.cyan .icon{color:var(--brk-base-5)}.counter__wrapper-icon.gray-light .counter,.counter__wrapper-icon.gray-light .icon{color:#bababa}.counter__wrapper-icon.gray .counter,.counter__wrapper-icon.gray .icon{color:#7a7a7a}.counter__wrapper-icon.brown .counter,.counter__wrapper-icon.brown .icon{color:#512f00}.counter__wrapper-icon.black .counter,.counter__wrapper-icon.black .icon{color:#000}.counter__wrapper-icon.brk-color .counter,.counter__wrapper-icon.brk-color .icon{color:var(--brk-secondary-1)}.counter__wrapper-icon.white .cont,.counter__wrapper-icon.white .counter{color:var(--white)}.counter__wrapper-icon.white .icon,.counter__wrapper-roller.blue .counter{color:var(--brand-primary)}.counter__wrapper-roller.pink .counter{color:var(--brk-secondary-6)}.counter__wrapper-roller.purple .counter{color:var(--brk-secondary-3)}.counter__wrapper-roller.aqua .counter{color:var(--brk-base-2)}.counter__wrapper-roller.gray .counter{color:#7a7a7a}.counter__wrapper-roller.brown .counter{color:#512f00}.counter__wrapper-roller.black .counter{color:#000}.counter__wrapper-clean.blue .counter-wrap .counter,.counter__wrapper-roller.brk-color .counter{color:var(--brand-primary)}.counter__wrapper-clean.pink .counter-wrap .counter{color:var(--brk-secondary-6)}.counter__wrapper-clean.purple .counter-wrap .counter{color:var(--brk-secondary-3)}.counter__wrapper-clean.aqua .counter-wrap .counter{color:var(--brk-base-2)}.counter__wrapper-clean.gray .counter-wrap .counter{color:#7a7a7a}.counter__wrapper-clean.brown .counter-wrap .counter{color:#512f00}.counter__wrapper-clean.black .counter-wrap .counter{color:#000}.counter__wrapper-clean.brk-color .counter-wrap .counter{color:var(--brand-primary)}.counter__wrapper-invertible.blue .counter-wrap{background:linear-gradient(50deg,var(--brk-base-3),var(--secondary))}.counter__wrapper-invertible.blue .counter-wrap>.before{border-color:var(--brk-secondary-2)}.counter__wrapper-invertible.purple .counter-wrap{background:linear-gradient(50deg,var(--brk-secondary-3),var(--brk-secondary-2))}.counter__wrapper-invertible.purple .counter-wrap>.before{border-color:var(--brk-secondary-3)}.counter__wrapper-invertible.pink .counter-wrap{background:linear-gradient(50deg,#c423ee,#ee23ec)}.counter__wrapper-invertible.pink .counter-wrap>.before{border-color:#c500e9}.counter__wrapper-invertible.aqua .counter-wrap{background:linear-gradient(50deg,var(--brk-base-2),var(--brk-base-5))}.counter__wrapper-invertible.aqua .counter-wrap>.before{border-color:var(--brk-base-5)}.counter__wrapper-invertible.gray .counter-wrap{background:linear-gradient(50deg,#b3b3b3,#f0f0f0)}.counter__wrapper-invertible.gray .counter-wrap .counter{color:#7a7a7a}.counter__wrapper-invertible.gray .counter-wrap>.before{border-color:#9f9f9f}.counter__wrapper-invertible.brown .counter-wrap{background:linear-gradient(50deg,#ab752b,#d5aa6f)}.counter__wrapper-invertible.brown .counter-wrap .counter{color:#512f00}.counter__wrapper-invertible.brown .counter-wrap>.before{border-color:#8d5200}.counter__wrapper-invertible.black .counter-wrap{background:linear-gradient(50deg,#000,#383838)}.counter__wrapper-invertible.black .counter-wrap .counter{color:#fff}.counter__wrapper-invertible.black .counter-wrap>.before{border-color:#0a0a0a}.counter__wrapper-invertible.brk-color .counter-wrap{background:linear-gradient(50deg,var(--brk-base-3),var(--secondary))}.counter__wrapper-invertible.brk-color .counter-wrap>.before{border-color:var(--brk-secondary-2)}.counter__wrapper-filled.blue .counter{color:var(--brand-primary)}.counter__wrapper-filled.blue .counter-wrap .counter-tri>.before{background:var(--brand-primary)}.counter__wrapper-filled.blue .counter-wrap svg circle{stroke:var(--brand-primary)}.counter__wrapper-filled.purple .counter{color:var(--secondary)}.counter__wrapper-filled.purple .counter-wrap .counter-tri>.before{background: $color-pink}.counter__wrapper-filled.purple .counter-wrap svg circle{stroke:var(--secondary)}.counter__wrapper-filled.pink .counter{color:var(--brk-secondary-6)}.counter__wrapper-filled.pink .counter-wrap .counter-tri>.before{background:var(--brk-secondary-6)}.counter__wrapper-filled.pink .counter-wrap svg circle{stroke:var(--brk-secondary-6)}.counter__wrapper-filled.aqua .counter{color:var(--brk-base-2)}.counter__wrapper-filled.aqua .counter-wrap .counter-tri>.before{background:var(--brk-base-2)}.counter__wrapper-filled.aqua .counter-wrap svg circle{stroke:var(--brk-base-2)}.counter__wrapper-filled.black .counter,.counter__wrapper-filled.brown .counter,.counter__wrapper-filled.gray .counter{color:#000}.counter__wrapper-filled.gray .counter-wrap .counter-tri>.before{background:#bbb}.counter__wrapper-filled.gray .counter-wrap svg circle{stroke:#bbb}.counter__wrapper-filled.brown .counter-wrap .counter-tri>.before{background:#cda063}.counter__wrapper-filled.brown .counter-wrap svg circle{stroke:#cda063}.counter__wrapper-filled.black .counter-wrap .counter-tri>.before{background:#000}.counter__wrapper-filled.black .counter-wrap svg circle{stroke:#000}.counter__wrapper-filled.brk-color .counter{color:var(--brand-primary)}.counter__wrapper-filled.brk-color .counter-wrap .counter-tri>.before{background:var(--brand-primary)}.counter__wrapper-filled.brk-color .counter-wrap svg circle{stroke:var(--brand-primary)}





