@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-10rem);
  }

  80% {
      transform: translateX(1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(10rem);
  }

  80% {
      transform: translateX(-1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(3rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

  
  @keyframes rotate {
    0% {
        transform:  perspective(100px) rotate(0deg)
      }
      9% {
        transform:  perspective(100px) rotate(90deg);
      }
      18% {
        transform:  perspective(100px)rotate(180deg);
      }
      28% {
        transform:  perspective(100px)rotate(270deg);
      }
      37% {
        transform:  perspective(100px)rotate(360deg);
      }
      100% {
        transform:  perspective(100px)rotate(360deg);
      }
  }