@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-10rem);
  }

  80% {
      transform: translateX(1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(10rem);
  }

  80% {
      transform: translateX(-1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(3rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

  
  @keyframes waitAnimate {
    0% {
        transform: rotate(0deg)
      }
      9.375% {
        transform: rotate(90deg);
      }
      18.75% {
        transform: rotate(180deg);
      }
      28.125% {
        transform: rotate(270deg);
      }
      37.5% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(360deg);
      }
  }