body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: $color-grey-dark;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 2.5rem;
  color: $color-grey-dark;
}

a {
  text-decoration: none !important;
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}

.title-text {
  font-weight: 700;
  font-size: 5rem;
  color: $color-white;


  &--gradient {
    background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
  }
}

.desc-text {
  font-size: 2rem;
  padding: .2rem .5rem;
  color: rgba($color-white, .9);

  animation: moveInRight 1s ease-out;
}

.heading-primary {
    margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 3.5;
    color: $color-text;
    text-transform: uppercase;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75;
    color: $color-grey-dark;
  }
}

.heading-secondary {
  font-weight: 600;
  font-size: 2rem;
  color: $color-text;
}

.small-underline {
  margin: .5rem auto;
  width: 12%;
  background-color: $color-text;
  height: 1.5px;
}

.features {
  &-number {
    font-weight: 400;
    font-size: 4.5rem;
    color: $color-primary-dark;
    margin-bottom: 2.5rem;
  }

  &-text {
    font-size: $default-font-size;
  }
}


#contact .section {
  &-title h2{
    font-size: 5rem;
    color: $color-text;
  }

  &-details {
    font-size: $default-font-size;

    i {
      font-size: 2.5rem;
      color: $color-primary-light;
    }
  }
}

.section-contact .form-control {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.login-form .section-title {
  color: $color-text;

  h2 {
    font-size: 2.4rem;
    font-weight: 700;
  }
}

.product {
  &-title{
    color: $color-text;
    font-size: 3rem;
    font-weight: 700;
  }
  &-review {

    &--star {
      padding-right: 5px;
      img{
        height: 2.5rem;
        padding: 0 0 10px 0;
        margin-top: 6px;
      }

    } 

    &--rating {
      color: $color-text;
      font-size: $default-font-size;
      font-weight: 500;
      padding-right: 5px;
    }

    &--num {
      color: $color-primary-dark;
      font-size: $default-font-size;
      font-weight: 500;
      border-left: 1px solid $color-primary-dark;
      padding-left: 7px;
    }
  }

  &-price {
    font-size: 3.2rem;
    font-weight: 400;
    color: $color-text;
    padding: 2rem 0 1rem 0;

    s {
      font-size: $default-font-size;
      color: $color-red;
      margin: -1.3rem;
    }
  }

  &-heading {
    font-weight: 700;
    font-size: 2rem;
    color: $color-text;
  }

  &-text {
    font-size: $default-font-size;
    color: $color-black;

    &--green {
      color: $color-green-dark;
      line-height: 3rem;
    }
  }
}


@media only screen and (max-width: 575px){
  /*Mobile Phones*/
  .heading-primary {

    &--main {
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 3.5;
    }

    &--sub {
      font-size: 1.7rem;
    }
  }

  .card-delivery-text {
    top: 25rem;
    left: 7.5rem;
  }

}

.links {
  color: $color-primary-dark;
  text-decoration: underline !important;

  &:hover {
    color: $color-primary-dark;
  text-decoration: none !important;
  }
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 2.5rem;
}