.artist-image {
  margin: auto;
  img {
    height: 38rem;
  }
} 

.artist-name {
  color: $color-text;
  font-size: 3.5rem;
  font-weight: 700;
}

.studio-name {
  color: $color-black;
  font-size: 2rem;
  font-weight: 600;
}

.artist-top-products {
  .card .wishlist-btn {
    height: 2.4rem;
    width: 2.5rem;
  }
  .card:hover{
    .cart-btn {
      top: 42%;
      left: 32%;
    }
  }
} 

.artist-product {
  .card-rating img{
    height: 2.6rem;
  }

  .card .wishlist-btn {
    height: 2.4rem;
    width: 2.5rem;
  }
} 

.section-artist-description {
  background-color: $color-grey-light;
}

@media only screen and (max-width: 575px){
  /*Mobile Phones*/
  .artist-top-products .card:hover{
    .cart-btn {
      top: 42%;
      left: 38%;
    }
  }
  .artist-product .card:hover{
    .cart-btn {
      top: 30%;
      left: 38%;
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px){
  /*Tablets*/
  .artist-top-products .card:hover{
    .cart-btn {
      left: 20%;
    }
  }
  .artist-product .card:hover{
    .cart-btn {
      top: 18%;
      left: 22%;
    }
  }
}