.bg-light-purple {
  background-color: rgba(243, 229, 245, .7);
}

.section-features {
  .animate__animated.animate__fadeInLeft {
    --animate-duration: 1.5s;
  }

  .nav-pills .nav-link{
    font-size: 2rem;
    background-color: transparent;
    color: rgba($color-text, .65);
    margin-right: 16rem;

    i {
      font-size: 5rem;
    }
  }
  .nav-item {
    width: 25%;
  }
  .nav-pills a {
    margin: 0 auto !important;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: $color-text !important;
  }
}

.section-products {
  background-color: $color-grey-light;
}

#contact .section-details i {
  font-size: 2rem;
  padding: 1rem 2.5rem;
  margin-left: 1rem;
}

#contact .section-details p {
  margin: auto;
}

#contact .form-control {
  border: none;
  border-bottom: 2px solid $color-grey-light;
  border-radius: 0px;
  box-shadow: none;
  font-size: 1.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: $color-grey-dark;
}

#contact input {
  height: 5.5rem;
}

#contact button#submit {
  background: $color-text;
  border: none;
  border-radius: 5rem;
  color: $color-white;
  height: 4rem;
  margin-top: 2.4rem;
  width: 14rem;
}

#contact button#submit:hover {
  background: $color-primary-dark;
  color: $color-white;
}

.section-partners {
  background-color: $color-grey-light;

  input {
    font-size: $default-font-size;
    border-radius: .8rem;
  }

  .form-control:focus {
    color: $color-grey;
    border-color: $color-primary-light !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($color-primary-light, .25) !important;
  }

  .input-group-text {
    font-size: $default-font-size;
    border-radius: .8rem;
    background-color: $color-primary-dark;
    color: $color-white;
  }
}

