.sidenav {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../img/contact-comp.jpg');
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  padding-top: 20px;
}

.login-logo--animation {
  animation: rotate 8s linear infinite;
  transform-origin: 50% 50%;
}

.main {
  padding: 0px 10px;
  position: relative;

  .bottom-line {
    font-size: $default-font-size;
    text-align: center;
    margin-top: 16%;
    margin-bottom: .5rem;
  }
}

.login-form {
  .form-group {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .form-control {
    border-radius: 3rem;
  }

  .form-control:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba($color-primary-dark,.25);
  }

  input {
    height: 4rem;
    font-size: $default-font-size;
  }
  label {
    font-size: 1.6rem;
  }
  
  a {
    color: $color-primary-dark;
    text-decoration: underline !important;
  
    &:hover {
      color: rgba($color-primary-dark, .85)  ;
    }
  }
}

#check-box {
  height: 2rem !important;
}

.login-logo {
  height: 24rem;
}

.login-main-text{
  padding: 6rem;
  color: $color-white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 1.5rem;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 20%;
      margin-bottom: 5%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 48%;      
  }

  .sidenav {
      width: 48%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 38%;
      font-size: $default-font-size;
  }
}

#signup {
    margin-top: 18%;
  }

@media only screen and (max-width: 575px){
  /*Mobile Phones*/
  .main {
    position: relative;
  }

  .main .bottom-line {
    margin-top: 10%;
  }

  .btn-position {
    position: absolute;
    right: 2rem !important;
    top: 1rem !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px){
  /*Tablets*/
  .main .bottom-line {
      margin-top: 15%;
    }
}
