.sidenav {
  height: 100%;
  background-image: linear-gradient(to right, #00c6ff, #0F5AE0 50%, #7202bb);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  padding-top: 20px;

  canvas {
    width: 42%;
    height: 100%;
    position: relative;
    z-index: -1;
    top: 0;
    left: 0;
  }

  #nokey {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    }

    .before {
      background-color: #fff;
      color: #2775FF;
      font-size: 1.8rem;
      // position: absolute;
      // top: 50%;
      // right: 7px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 1rem 1.3rem;
      letter-spacing: -.06em;
    }
}

.circle {
  background-color: #fff;
  color: #2775FF;
  font-size: 1.8rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 1rem 1.3rem;
  letter-spacing: -.06em;
}

// .login-logo--animation {
//   animation: rotate 8s linear infinite;
//   transform-origin: 50% 50%;
// }

.main {
  padding: 0px 10px;
  position: relative;

  .bottom-line {
    font-size: $default-font-size;
    text-align: center;
    margin-top: 16%;
    margin-bottom: .5rem;
  }
}

.section-title h2{
  font-size: 2.8rem !important;
}

.login-form {
  .form-group {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .form-control {
    border: 2px solid #CDFFFF;
    border-radius: 3rem;
    padding: 0 2rem 0 3rem;
    height: 54px;
    min-width: 33rem;
  }

  .form-control:focus {
    box-shadow: 0 5px 1.6rem rgba(165, 165, 165, .5);
  }

  input {
    height: 4rem;
    font-size: $default-font-size;
  }
  label {
    font-size: $default-font-size;
    font-weight: bold;
    color: $color-black;
  }
  .form-check-label {
    font-weight: 300;
  }

  a {
    text-decoration: underline !important;

    &:hover {
      text-decoration: none !important;
    }
  }
}

#check-box {
  height: 2rem !important;
}

.login-logo {
  height: 24rem;
}

.login-main-text{
  padding: 6rem;
  color: $color-white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 1.5rem;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 20%;
      margin-bottom: 5%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 42%;      
  }

  .sidenav {
      width: 42%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 25%;
      font-size: $default-font-size;
  }
}

#signup {
    margin-top: 18%;
  }

@media only screen and (max-width: 575px){
  /*Mobile Phones*/
  .main {
    position: relative;
  }

  .main .bottom-line {
    margin-top: 10%;
  }
  
  .sidenav {
    display: none;
  }
  .main{
    margin-left: 0%;      
  }
  .login-form {
    margin-top: 10%;
  }
  // .loginBtn {
  //   min-width: 5rem;
  // }
  
  // .signupBtn {
  //   min-width: 5rem;
  // }
}

@media only screen and (min-width: 576px) and (max-width: 991px){
  /*Tablets*/
  .main .bottom-line {
      margin-top: 15%;
    }

    .sidenav {
      display: none;
    }
    .main{
      margin-left: 0%;      
    }
    .login-form {
      margin-top: 15%;
    }
}
